//variables//
$primary-color: #8B0000;
$secondary-color: #FFFDD0; 

//Mixins

@mixin my-mixin-border-radius($radius) {
    border-radius: $radius;
    background-color: $primary-color;
    height: 20px;
    width: 20px;
}


.books {
    background-color: $secondary-color;
    h1 {
        color: $primary-color
    }
    p{
        font-size: 16px;
    }
    .box {
        background-color: lighten($primary-color, 20%);
        p{
            background-color: lighten($primary-color, 10%);
        }
    }
}


.message-box{
    @include my-mixin-border-radius(10px)
}

.message-box-two{
    @extend .box;
    @include my-mixin-border-radius(200px)
}